@{
    ViewData["Title"] = "ConfirmOrder";
}

<h2 class="alert alert-success"> Confirm Order</h2>

<div class="bg bg-success" style="height:400px;width:900px;text-align:center;">

    <h3>@ViewBag.msg</h3>
    <p>
        Thank you for your Order
    </p>
    <p class="text-primary">
        One of our representative will contact with you immediately.
    </p>

</div>

